@import "tailwindcss";

.input-style {
  @apply bg-blue-100 rounded-lg p-2 hover:bg-blue-200 transition duration-50;
}

.about-text {
  @apply text-white text-sm mt-5 text-center;
}

.create-group-input {
  @apply border-2 border-double rounded-lg text-center;
}
